Source: gjs
Section: interpreters
Priority: optional
Maintainer: Debian GNOME Maintainers <pkg-gnome-maintainers@lists.alioth.debian.org>
Uploaders: Jeremy Bícha <jbicha@ubuntu.com>,
           Marco Trevisan (Treviño) <marco@ubuntu.com>
Build-Depends: at-spi2-core <!nocheck>,
               dbus-daemon <!nocheck>,
               dbus-x11 <!nocheck>,
               debhelper-compat (= 13),
               dh-sequence-gir,
               gir1.2-gio-2.0-dev,
               gir1.2-gobject-2.0-dev,
               gir1.2-gtk-3.0,
               gobject-introspection (>= 1.71),
               libcairo2-dev,
               libffi-dev (>= 3.3),
               libgirepository1.0-dev (>= 1.71),
               libglib2.0-dev (>= 2.58.0),
               libmozjs-115-dev,
               libreadline-dev,
               meson (>= 0.54.0),
               pkg-config (>= 0.28),
               xauth <!nocheck>,
               xvfb <!nocheck>
Rules-Requires-Root: no
Standards-Version: 4.6.2
Vcs-Git: https://salsa.debian.org/gnome-team/gjs.git
Vcs-Browser: https://salsa.debian.org/gnome-team/gjs
Homepage: https://gitlab.gnome.org/GNOME/gjs/-/blob/master/doc/README.md

Package: gjs
Architecture: any
Depends: gir1.2-gtk-3.0,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Mozilla-based javascript bindings for the GNOME platform (cli tool)
 Makes it possible for applications to use all of GNOME's platform
 libraries using the JavaScript language. It's mainly based on the
 Mozilla JavaScript engine and the GObject introspection framework.
 .
 This package contains the interactive console application.

Package: gjs-tests
Architecture: any
Depends: at-spi2-core,
         gjs,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Mozilla-based javascript bindings for the GNOME platform (tests)
 Makes it possible for applications to use all of GNOME's platform
 libraries using the JavaScript language. It's mainly based on the
 Mozilla JavaScript engine and the GObject introspection framework.
 .
 This package contains test programs, designed to be run as part of a
 regression testsuite.

Package: libgjs0g
Architecture: any
Multi-Arch: same
Section: libs
Depends: gir1.2-gio-2.0,
         gir1.2-girepository-2.0,
         gir1.2-glib-2.0,
         gir1.2-gobject-2.0,
         ${gir:Depends},
         ${misc:Depends},
         ${shlibs:Depends}
Description: Mozilla-based javascript bindings for the GNOME platform
 Makes it possible for applications to use all of GNOME's platform
 libraries using the JavaScript language. It's mainly based on the
 Mozilla JavaScript engine and the GObject introspection framework.
 .
 This is the shared library applications link to.

Package: libgjs-dev
Architecture: any
Multi-Arch: same
Section: libdevel
Depends: libcairo2-dev,
         libgirepository1.0-dev (>= 1.64),
         libgjs0g (= ${binary:Version}),
         libmozjs-115-dev,
         ${misc:Depends}
Description: Mozilla-based javascript bindings for the GNOME platform
 Makes it possible for applications to use all of GNOME's platform
 libraries using the JavaScript language. It's mainly based on the
 Mozilla JavaScript engine and the GObject introspection framework.
 .
 This package contains the development files applications need to
 build against.
